.header {
  display: flex;
  width: 99vw;
  max-height: 60vh;
  background-color: rgb(142, 184, 134);
  color: rgb(46, 47, 47);
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  width: 40vw;
  padding: 2vh;
  background-color: rgb(46, 47, 47);
  position: relative;
}

.profileImg {
  width: 20vw;
  height: auto;
}

.Logo {
  height: 2vh;
  padding: 2vh;
}

.contactContainer {
  width: 20vw;
  background-color: rgb(142, 184, 134);
}

.contact {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 2vh;
  color: white;
  letter-spacing: 4px;
}

h1,
.name {
  padding: 2vh;
  text-align: left;
}

.profileTextContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: rgb(46, 47, 47);
  width: 60vw;
  height: auto;
  color: white;
  padding: 2vh;
  align-items:flex-start;
}

.profile {
  align-items: center;
  letter-spacing: 4px;
  font-size: larger;
  padding: 2vh;
  line-height: 30px;
}

.QR {
  width: 100px;
  justify-content: end;
  padding: 2vh;
}
