.cartoon {
  position: relative;
  width: 50px;
  height: 100px;
  background-color: #ffc107;
  border-radius: 50% 50% 0 0;
  animation: bounce 0.5s infinite alternate;
  cursor: pointer;
  transition: transform 0.3s ease;
}

  .cartoon:hover {
    transform: scale(1.1);
  }

  .head {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .body {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    background-color: #ffffff;
  }


.boredCartoon {
  animation: none; /* Remove bounce animation when bored */
}
