.memory {
  width: 100vw;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: rgb(46, 47, 47);
}

.memoryTitle {
  font-weight: bold;
  color: #66fcf1;
  font-size: 4rem;
}

.memory h2 {
  color: white;
}

.cardGrid {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.congratsMessage {
  color: #66fcf1;
}

@media screen and (max-width: 750px) {
  .memory {
    margin: 0px 6px;
  }
  .cardGrid {
    justify-content: center;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
  }
}
