.memory {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 77vh;
  background-color: rgb(46, 47, 47);
}

.memoryTitle {
  font-weight: bold;
  color: #66fcf1;
  font-size: 4rem;
  text-align: center;
}

.memory h2 {
  color: white;
}

.cardGrid {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.congratsMessage {
  color: #66fcf1;
}

@media screen and (max-width: 1000px) {
  
  .cardGrid {
    justify-content: center;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
  }
}
