.memory {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76vh;
  background-color: rgb(46, 47, 47);
}

.memoryTitle {
  font-weight: bold;
  color: #66fcf1;
  font-size: 4rem;
  text-align: center;
}

.cardGrid {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.turns {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1vh;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
  }

  .memoryTitle {
    font-size: 2em;
  }

  .turns {
    font-size: 1em;
  }
}
