.card {
  position: relative;
  background-color: rgb(46, 47, 47);
}

.front,
.back {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}

.front {
  transform: rotateY(90deg);
  position: absolute;
  border: 2px solid white;
  width: 12vh;
  max-width: 200px;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  border: 2px solid #558b83;
  width: 12vh;
  max-width: 200px;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (max-width: 450px) {
  .card {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .front,
  .card .back {
    height: 12vh;
    margin: 3px;
  }
}
@media (min-width: 451px) and (max-width: 1000px) {
  .card {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .front,
  .card .back {
    height: 12vh;
    margin: 3px;
  }
}
