.Canvas {
border: 20px solid black;
width: 800px;
height: 400px;
box-sizing: border-box;
border-image-slice: 1;
border-image-source: linear-gradient(to left, #743ad5,#558B83);
margin:0;
}

@media screen and (max-width: 1000px){
.Canvas {
    width:  100vw;
}
};
    
