.home {
  height: auto;
  color: rgb(22, 21, 21);
  scroll-behavior: smooth;
}

.home h2 {
  padding: 40px;
  width: 20vw;
  letter-spacing: 4px;
}

.home h3 {
  letter-spacing: 2px;
}

.timelineItem {
  width: 50vw;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 50vw;
  font-weight: 400;
  font-size: large;
}

p {
  margin: 0;
}

.education,
.experience {
  width: 50vw;
  padding: 1vw;
  margin-bottom: 20px;
}

.education {
  background-color: rgb(142, 184, 134);
  color: rgb(46, 47, 47);
}

.experience {
  background-color: rgb(46, 47, 47);
  color: white;
}

.education:hover,
.experience:hover {
  background-color: rgb(241, 241, 241);
  color: rgb(46, 47, 47);
}

.link {
  width: 100vw;
  height: 20vh;
  background-color: blue;
}

.projectsText {
  background-color: rgb(142, 184, 134);
  color: white;
  letter-spacing: 2px;
  animation-play-state: paused;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  padding: 40px 0 40px 40px;
  font-size: larger;
}

.projectsText.visible {
  animation: writeText 20s linear forwards;
}

.project {
  height: auto;
  width: 99vw;
  margin-bottom: 60px;
  position: relative;
  background-color: #6c6c6c;
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projectQR {
  height: 20vh;
}

.projectScreen {
  transition: opacity 0.3s;
  height: 50vh;
}

.Logo {
  display: flex;
  height: 4vh;
  padding: 4px;
}

.projectLinks {
  display: flex;
  justify-content: center;
  background-color: white;
}

.project:hover img {
  opacity: 0.4;
}

.project:hover::after {
  content: attr(data-hover-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(46, 47, 47);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  letter-spacing: 6px;
}

.projectDescription {
  margin: 20px;
  padding: 20px;
  width: 20vw;
  height: 100%;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
}

.myTechnologyContainer,
.myLangContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.basicTechnology {
  display: flex;
  justify-content: space-evenly;
}

.mainTechnology img {
  max-height: 20vh;
  margin: 10px;
}

.basicTechnology img {
  max-height: 8vh;
  margin: 10px;
}

.mainLang img {
  height: 12vh;
  margin: 5px;
  border-radius: 30%;
}

.basicLang img {
  height: 7vh;
  margin: 5px;
  border-radius: 30%;
}

.polishFlag {
  border: 0.5px solid grey;
}

.referencesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.gpt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 225px;
  font-style: italic;
  font-size: 18px;
  color: white;
  max-width: 50vw;
  background-color: rgb(116, 170, 156);
  border-radius: 50px 50px 0 50px;
}

.gptText {
  padding: 0 2vw;
}

.signature {
  font-weight: bold;
  color: rgb(46, 47, 47);
  cursor: pointer;
}

.loading {
  color: #6c6c6c;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 4vh;
}

.loadingAnime {
  display: inline-block;
}

.dot {
  opacity: 0;
  display: inline-block;
  margin-left: 2px;
}

.dot1 {
  animation: dotAnimation 2s 0.3s infinite;
}

.dot2 {
  animation: dotAnimation 2s 0.6s infinite;
}

.dot3 {
  animation: dotAnimation 2s 0.9s infinite;
}

@keyframes dotAnimation {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes writeText {
  to {
    width: 100%;
  }
}

@media (max-width: 450px) {
 
  .home h2 {
    padding: 2vw;
    width: 100vw;
  }

  .education, .timelineItem, .experience {
    width: 100vw;
    padding: 2vw;
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .projectsText.visible {
    animation: writeText 10s linear forwards;
    padding: 2vw;
    font-size: small;
  }

  .project {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  .projectDescription {
    width: 90vw;
    padding: 0;
    margin: 0;
    font-size: small;
    text-align: center;
  }

  .box {
    flex-direction: column;
    width: 100vw;
  }

  .projectScreen {
    width: 100vw;
    height: auto;
  }


.project:hover::after {
  top: 20%;
  font-size: medium;
}
.projectQR {
  display: none;
}

.mainTechnology {
  justify-content: center;
}

.mainTechnology img {
  height: 15vh;
}

.referencesContainer {
  width: 100vw;
  height: auto;
}

.referencesContainer img {
  width: 20vw;
}

.gpt {
  width: 100vw;
  height: auto;
  margin: 2vw;
  padding: 4vw;
}

.gptText {
  width: 90vw;
  height: auto;
  font-size: small;
}

  }

@media (min-width: 450px) and (max-width: 821px) {
  }
