.home {
  height: auto;
  width: 99vw;
  color: rgb(22, 21, 21);
}

h2 {
  padding: 40px;
  width: 20vw;
  letter-spacing: 4px;
}

h3 {
  letter-spacing: 2px;
}

.timelineItem {
  width: 50vw;
}

ul {
display: flex;
flex-direction: column;
align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 50vw;
  font-weight: 400;
  font-size: large;
}

p {
  margin: 0;
}

.education, .experience {
  width: 50vw;
  padding: 1vw;
  margin-bottom: 20px;
}

.education {
  background-color: rgb(142, 184, 134);
  color: #333;
}

.experience {
  background-color: #333;
  color: white;
}

.education:hover,
.experience:hover {
  background-color: rgb(241, 241, 241);
  color: #333;
}
