.snakeContainer {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76vh;
  background-color: rgb(46, 47, 47);
  
}

.snakeGame {
  display: flex;
  justify-content: center;
  height: 65vh;
  align-items: center;
  outline: none;
  flex-direction: column;
  background-color: rgb(46, 47, 47);
  color: white;
}

.snakeTitle {
  font-weight: bold;
  color: #66fcf1;
  font-size: 4rem;
}

.yourScore {
  color: white;
}

.congratsMessage {
  color: #66fcf1;
}

.snakeTitle {
  height: 11vh;
}

@media screen and (max-width: 1000px) {

  .snakeTitle {
    font-size: 2em;
  }

  .yourScore {
    font-size: 1em;
  }
}
