.snakeContainer {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76vh;
  background-color: rgb(46, 47, 47);
}

.Snake {
  display: flex;
  justify-content: center;
  height: 40vh;
  align-items: center;
  outline: none;
  flex-direction: column;
  background-color: rgb(46, 47, 47);
  color: white;
}

.snakeTitle {
  font-weight: bold;
  color: #66fcf1;
  font-size: 4rem;
}

.snakeContainer h2 {
  color: white;
}

.congratsMessage {
  color: #66fcf1;
}

@media screen and (max-width: 1000px) {
  .Snake {
    height: 400px;
  }

  .snakeTitle {
    font-size: 2em;
  }

  .snakeContainer >h2 {
    font-size: 1em;
  }
}
